*{
    margin: 0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: greenyellow;
    text-align: center;
    padding-top: 20px;
}

h1{
    padding-bottom: 5px;
    font-size: 2rem;
}

h2{
    font-size: 1rem;
}
h3, h4, h5, h6{
    font-size: 0.8rem;
    font-weight: 300;
}

.mainSection{
    padding-top: 50px;
    padding-left: 50px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
li{
    width: 20%;
    list-style: none;
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    border: 1px solid black;
}

img{
    height: 100px;
}